<a href="https://colab.research.google.com/github/tefnaminta/ITC_Exercises/blob/main/Pyspark_titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 57.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=3043fbcd011c57d69b1aec57cd6c08f556b174e46518c8af2563e7829625b563
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [1]:
import seaborn as sb

In [7]:
iris = sb.load_dataset("iris")

In [8]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("titanicpyspark.com") \
      .getOrCreate()

In [12]:
from pyspark.sql.types import *

In [15]:
schema = StructType([StructField("sepal_length",FloatType() , True)\
                   ,StructField("sepal_width", FloatType(), True)\
                   ,StructField("petal_length", FloatType(), True)
                   ,StructField("petal_width", FloatType(), True)
                   ,StructField("species", StringType(), True)])

In [16]:
df = spark.createDataFrame(iris, schema= schema)
df.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
|         5.4|        3.9|         1.7|        0.4| setosa|
|         4.6|        3.4|         1.4|        0.3| setosa|
|         5.0|        3.4|         1.5|        0.2| setosa|
|         4.4|        2.9|         1.4|        0.2| setosa|
|         4.9|        3.1|         1.5|        0.1| setosa|
|         5.4|        3.7|         1.5|        0.2| setosa|
|         4.8|        3.4|         1.6|        0.2| setosa|
|         4.8|        3.0|         1.4|        0.1| setosa|
|         4.3|        3.0|         1.1|        0.1| setosa|
|         5.8|        4.0|         1.2|        0.2| setosa|
|         5.7|        4.4|         1.5|        0.4| setosa|
|         5.4|        3.9|         1.3|        0.4| setosa|
|         5.1|        3.5|         1.4|        0.3| setosa|
|         5.7|        3.8|         1.7|        0.3| setosa|
|         5.1|        3.8|         1.5|        0.3| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [17]:
df.createOrReplaceTempView("irisdata")

In [18]:
spark.sql("SELECT * FROM irisdata WHERE species NOT LIKE 's%'").show()

+------------+-----------+------------+-----------+----------+
|sepal_length|sepal_width|petal_length|petal_width|   species|
+------------+-----------+------------+-----------+----------+
|         7.0|        3.2|         4.7|        1.4|versicolor|
|         6.4|        3.2|         4.5|        1.5|versicolor|
|         6.9|        3.1|         4.9|        1.5|versicolor|
|         5.5|        2.3|         4.0|        1.3|versicolor|
|         6.5|        2.8|         4.6|        1.5|versicolor|
|         5.7|        2.8|         4.5|        1.3|versicolor|
|         6.3|        3.3|         4.7|        1.6|versicolor|
|         4.9|        2.4|         3.3|        1.0|versicolor|
|         6.6|        2.9|         4.6|        1.3|versicolor|
|         5.2|        2.7|         3.9|        1.4|versicolor|
|         5.0|        2.0|         3.5|        1.0|versicolor|
|         5.9|        3.0|         4.2|        1.5|versicolor|
|         6.0|        2.2|         4.0|        1.0|versicolor|
|         6.1|        2.9|         4.7|        1.4|versicolor|
|         5.6|        2.9|         3.6|        1.3|versicolor|
|         6.7|        3.1|         4.4|        1.4|versicolor|
|         5.6|        3.0|         4.5|        1.5|versicolor|
|         5.8|        2.7|         4.1|        1.0|versicolor|
|         6.2|        2.2|         4.5|        1.5|versicolor|
|         5.6|        2.5|         3.9|        1.1|versicolor|
+------------+-----------+------------+-----------+----------+
only showing top 20 rows

In [19]:
df.groupby("species").count().show()

+----------+-----+
|   species|count|
+----------+-----+
| virginica|   50|
|versicolor|   50|
|    setosa|   50|
+----------+-----+

In [20]:
spark.sql("select min(sepal_width) as minmum from irisdata where species = 'setosa'").show()

+------+
|minmum|
+------+
|   2.3|
+------+

In [21]:
spark.sql("select min(sepal_width) as minmum from irisdata where species = 'versicolor'").show()

+------+
|minmum|
+------+
|   2.0|
+------+

In [22]:
spark.sql("select max(sepal_width) as minmum from irisdata where species = 'setosa'").show()

+------+
|minmum|
+------+
|   4.4|
+------+

In [23]:
spark.sql("select min(sepal_width) as minmum from irisdata where species = 'versicolor'").show()

+------+
|minmum|
+------+
|   2.0|
+------+